<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"> <a href="/user">Home</a> </li>
                <li class="main-header__item"> <a class="active" href="#">Add Item</a> </li>
            </ul>
        </nav>
    </header>
    <main style="text-align: center">
        <form class="product-form" action="/admin/item" method="post">
            <div class="form-control">
                <label>Item</label>
                <input type="text" name="title" id="title">
            </div>
            <button type="submit">ADD</button>
        </form>
    </main>
</body>
</html>