<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="/user">Home</a> </li>
                <li> <a href="#">Add Item</a> </li>
            </ul>
        </nav>
    </header>
    <main style="text-align: center">
        <form action="/admin/item" method="post">
            <input type="text" name="msg">
            <button type="submit">ADD</button>
        </form>
    </main>
</body>
</html>